:root {
    --beige: #f5f5dc;
    --gray:#aaaaaa;
    --blue: #007bff;
    --green: #37a728;
    --searchwidth: 20rem;
    --buttonwidth: 3rem;
    --skyblue:#78c1f3;
    --white: #ffffff;
    --semiopaque:rgba(0, 0, 0, 0.2);

}
body {
    background-color: var(--skyblue);
}
.centered-form {
    /* flex-direction: column; */
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10 rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display:none ;
}
#add-todo-checkbox:checked ~ .add-form {
    display: block;
}

todo-input {
    color: var(--gray);
    background-color: var(--blue);
    font-style: italic;
    width: var(--searchwidth);
    max-width: 90%;
}

#todo-form button {
    margin: auto;
    width: 10rem;
    max-height: 80%;
    max-width: 80%;
    background-color: var(--beige);
    color: var(--blue);
    font-weight: bold;
}

.search-bar {
  
  --padding: 0.5rem;
  background-color: var(--white);
  

  display: flex;
  justify-content: flex-end;

  border-radius: 7rem;
  overflow: hidden;

  padding: var(--padding);
  width: var(--buttonwidth);
  height: var(--buttonwidth);
  max-width: 100%;
  transition: width 0.5s, outline 0.5s;
}

.search-bar:focus-within {
  width: var(--searchwidth);
  outline: 1px solid #2e2e2e;
}

.search-input {
  font-size: 1rem;
  border: none;
  outline: none;
  margin-inline: 1rem;

  opacity: 1;
  transition: opacity 0.5s;
}


.search-submit {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: var(--beige);
  border-radius: 50%;
  border: none;
  
  cursor: pointer;
}
i {
  color: var(--green);

  max-width: 90%  ;
  max-height: 90%;
  cursor: pointer;
  font-size: large;
  transition: 0.3s;
}
i:hover {
    background: var(--semiopaque);
    border-radius: 0.2rem;
}
#todo-container button {
    border: none;
    background-color: transparent;
    
}
#todo-container i[class*="trash"]{
    color: var(--gray);
    
}

#todo-container > div
{
    width: 25rem ;
    max-width: 90%;
    
    

}
#todo-container > div> div[id*="todos-list"]{
  overflow-y: auto;
  height: 20rem ;
}

#todo-container > div> div[id*="todos-list"]>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    

   
}
#todo-container > div> div[id*="todos-list"]>li:hover {
    background-color: var(--semiopaque);
}
#todo-container > div> div[id*="todos-list"]>li > p {
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap ;
    margin: 0.5rem;
}

#todo-container > div> div[id*="todos-list"]>li > p:hover {
    overflow: visible ;
}
#todo-container > div> div[id*="todos-list"]:empty::after {
    content: "Nothing to sort!";
    color: var(--gray);
    font-style: italic;
    text-align: center;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
}